.mainContainer{
    height: 100%;
    margin: 0;
}
.body{
    text-align: center;
    height: 80%;
}
.head{
    text-align: center;
    background-color: azure;
    height: 10%;
}
.footer {
    text-align: center;
    background-color: azure;
    height: 10%;
    position: absolute;
    width: 100%;
}